/* Reset styling */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*
COLORS
#3B444B
#EBEBEB
#66717E
#CCA43B
#0B0A07
*/

/* Fonts */
@font-face {
  font-family: "SignPainter";
  src: url("assets/fonts/SignPainter.ttc");
}
@font-face {
  font-family: "Orator";
  src: url("assets/fonts/OratorStd.otf");
}
@font-face {
  font-family: "Orator-Slanted";
  src: url("assets/fonts/OratorStd-Slanted.otf");
}

body {
  background-image: url('assets/img/background/space-background-1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #3b444b;
  width: 100%;
  height: 100%;
}
img {
  max-width:100%;
  max-height:100%;
}
a.svg-link {
  display: inline-block;
  cursor: pointer;
}
a.svg-link object {
  pointer-events: none;
}

/* Title */
.title-container {
  margin: 3vw 0vw 0vw 0vw;
  text-align: center;
}
.title {
  font-family: "SignPainter";
  font-size: 4.5vw;
  color: #ebebeb;
  text-decoration: none;
  cursor: pointer;
}

/* Navigation */
.nav-container {
  margin: 2vw 0vw 0vw 0vw;
  text-align: center;
}
.nav-btn {
  font-family: "Orator";
  font-size: 1.75vw;
  color: rgb(219, 164, 93);
  text-decoration: none;
  cursor: pointer;
}
.nav-btn:hover, .navbtn:focus { color: #ebebeb;}
.spacer {
  font-family: "Orator";
  font-size: 1.75vw;
  color: #ebebeb;
  margin: 0vw 0.75vw 0vw 0.75vw;
}
.nav-drop-content {
  font-family: "Orator";
  font-size: 1.2vw;
  color: #ebebeb;
  height: 30vw;
  margin: 2vw 13vw 2vw 13vw;
  padding: 3vw;
  display: none;
  background-color: rgba(102,113,126,0.45);
  text-align: left;
}
.nav-drop-content * {
  float:left;
}
.nav-drop-content div {
  margin-left: 3vw;
  margin-top: 1vw;
  width: 50%;
}
.drop-img {
  text-align: left;
}
.show { display: block; }

/* Logos */
.logo-container {
  text-align: center;
  background-color: rgba(255,255,255,0.7);
}
.logo-link {
  width: 35%;
  margin: 4% 6% 2% 6%;
  float: left;
}
.logo {
  width: 100%;
}
.here-link {
  float: none;
  text-decoration: none;
  color: rgb(219, 164, 93);
}
.here-link:hover, .here-link:focus { color: #ebebeb; }
